:root {
    --light: seashell;
}

* {
    margin: 0;
}

body {
    background-color: var(--light);
}

header {
    background-image: linear-gradient(to right, rgb(49, 52, 255), rgb(38, 0, 128));
    color: var(--light)
}

#input {
    padding: 10px 30px;
}

#search-bar {
    padding: 10px 0px 25px 0px;
    border-bottom: black solid 3px;
}

.history-city {
    margin: 8px 0px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(192, 192, 192);
}

#output {
    padding: 10px 50px 10px 10px;
}

#current-weather {
    border: black solid 3px;
    padding: 10px;
    margin-bottom: 25px;
}

.weather-card {
    margin: 15px;
    background: rgb(46, 54, 88);
    color: var(--light)
}